.container{
   
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.box{
    width: 164px;
    height: 159px;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 4px;
    background-color: coral;
    text-align: center;
}
/* .div1{
    position: relative;
    left: 26%;
    /* z-index: -1; 
   
} */
.div2{
    position: relative;
    left: 41%;
    top: 3px;
   
}
 .div3{
    position: relative;
    left: 26%;
    top: 5px;
} 
.div4{
    position: relative;
    top: -159px;
    left: 41%;
   
}

.div5{
    position: relative;
    left: 34%;
    top: -425px;
   
   
    
  
} 
.div1{
    position: absolute;
    left: 26%;
 
   
} 